*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 60px;
    display: flex;
    justify-items: center;
    background-color: #f7f7f7;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.form{
    margin-top: 70px;
    width: 100%;
    max-width: 32rem;
    font-size: 1.25rem;
}

h1{
    font-size: 40px;
}

.form label,
.form input,
.form textarea,
.form button{
    display: block;
    width: 100%;
    padding: 10px 0;
}

.form label{
    line-height: 1;
}

.form input, 
.form textarea{
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: 8px;
}

.form textarea{
    min-height: 1rem;
    resize: vertical;
    font-size: 15px;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    border-color: red;
    box-shadow: 0 0 0 1px red;
}

.form button {
    display: block;
    padding: 1rem;
    background-color: black;
    color: white;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    width: auto;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 18px;
}

.form button:hover{
    background-color: red;
    transition: 0.9s;
}

footer{
    margin-top: 60px;
    min-height: 100px;
    background-color: white;
    width: 100%;
    text-align: center;
    align-items: center;  
    display: grid;
    padding-top: 20px;
}
.footer-links a{
    display: inline-block;
    padding: 10px;
}

@media (max-width:520px){
    h1{
        text-align: center;
    }

    .form button{
        width: auto;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: 18px;
    }

    body{
        margin: 0 20px;
    }

    footer{
        border-radius: 5px;
    }
 
}
